/* todo: Global CSS should be placed here */
/* todo: DEFINE CSS VARIABLE HERE */

/** Define varible for CSS here
 *:root {
  
} 
*/
.custom-scroll:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.custom-scroll::-webkit-scrollbar {
  @apply w-1.5;
  @apply h-10;
}

.custom-scroll::-webkit-scrollbar-thumb {
  visibility: hidden;
  @apply scroll-smooth;
  @apply rounded-full;
  @apply duration-100;
  @apply bg-blue-300;
}

.fredoka-font {
  font-family: "Fredoka Variable", sans-serif;
}

.fredoka-one-font {
  font-family: "Fredoka One", system-ui;
}

.montserrat-font {
  font-family: "Montserrat Variable", sans-serif;
}

.bungee-shade-font {
  font-family: "Bungee Shade", system-ui;
}

body {
  font-family: "Montserrat Variable", sans-serif;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0;
  display: none;
}

h2 {
  font-family: "Fredoka Variable", sans-serif;
  @apply text-black;
}
